a {
    text-decoration: none;
    color: #ffffff;
}

footer, .bar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #225c7e;
    color: #ffffff;
    box-sizing: border-box;
    
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: 'Courier New', Courier, monospace;
    
}

.conteudo{

    padding: auto;
    height: auto;
    margin:auto;
    width: auto;
    
    font-family: 'Courier New', Courier, monospace;

}

.texto-principal{
    background-image: linear-gradient(180deg, #225c7e, rgb(250, 250, 250));
    font-size: xx-large;
    text-align: center;
    padding: 5rem;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.contatos{
    display: flex;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.calendario{
    display: flex;
    justify-content: center;

}

#img{
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
}

.main{
    background-color: rgb(250, 250, 250);
}

#texto {
    text-decoration:dashed;
    color: #000000;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.divborder{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: linear-gradient(180deg, #c5c4c1, rgb(250, 250, 250));
}

.texto-rodape{
    background-image: linear-gradient(360deg, #225c7e, rgb(250, 250, 250));
    font-size: xx-large;
    text-align: center;
    padding: 5rem;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: 'Courier New', Courier, monospace;
}

.servico{
    border-radius: 15px;
    color: rgb(3, 3, 3);
    background-color: #c5c4c1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.consultoria{
    background-image: url("/imagens/servicos-de-consultoria.png");
    background-size: cover;
    background-position: center;
}
body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: brgb(172, 172, 172), rgb(250, 250, 250);   /* scroll thumb and track */
    overflow-x: hidden;
}
  /* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(172, 172, 172), rgb(250, 250, 250);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
  border-radius: 20px;
  border: 1px solid rgb(250, 250, 250);
}
.titulo-servico{
    font-weight: 600;
}

.links{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}